body {
  transition: backgroundImage 0.5s ease-in-out !important;
}
.blur-card {
  /* Set a semi-transparent background color using RGBA */
  background-color: rgba(255, 255, 255, 0.2);
  /* Apply the blur effect to the background behind the element */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* Optional: Add padding and a box shadow for better styling */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
